<footer class="footer">

    <div class="footer-container">

        <div class="footer-section">

            <h3>FasalMitra AI</h3>

            <p>
                Smart Agriculture Platform helping farmers with
                AI-based crop prediction, weather analysis,
                irrigation advice, and soil scanning.
            </p>

        </div>

        <div class="footer-section">

            <div class="admin-footer">

    <a href="{% url 'admin_login' %}">

        Admin Login

    </a>

</div>

        </div>

        <div class="footer-section">

            <h4>Contact</h4>

            <p>Email: adarshdubey@gmail.com</p>
            <p>Phone: +91 9151493505</p>

        </div>

    </div>

    <hr>

    <p class="copyright">
        © 2026 FasalMitra AI | Developed by Adarsh Dubey
    </p>

</footer>