
{% extends 'base.html' %}

{% load static %}

{% block content %}

<section class="about-section">

    <div class="about-container">

        <!-- Founder Image -->

        <div class="founder-image">

            <img src="{% static 'images/Ada.JPEG' %}" alt="Adarsh Dubey">

        </div>

        <!-- Founder Details -->

        <div class="founder-content">

            <h1>About FasalMitra AI</h1>

            <p>
                FasalMitra AI is a smart agriculture platform developed to help farmers
                using Artificial Intelligence, Machine Learning, Weather Analysis,
                Soil Detection, Crop Prediction, and Smart Irrigation systems.
            </p>

            <p>
                The platform aims to make farming smarter, easier, and more productive
                by providing AI-powered recommendations and real-time agricultural insights.
            </p>

            <h2>Founder</h2>

            <h3>Adarsh Dubey</h3>

            <p>
                Adarsh Dubey is a MCA student and aspiring AI & Full Stack
                Developer passionate about building smart systems using Python, Django,
                Machine Learning, and Cyber Security.
            </p>

            <h2>Skills</h2>

            <div class="skills">

                <span>Python</span>
                <span>Django</span>
                <span>Machine Learning</span>
                <span>Cyber Security</span>
                <span>HTML</span>
                <span>CSS</span>
                <span>JavaScript</span>
                <span>MySQL</span>
                <span>Kali Linux</span>
                <span>Web Security</span>

            </div>

            <h2>Achievements</h2>

            <ul class="achievement-list">
                <li> Pursuing MCA from Galgotias University.</li>

                <li>Completed BCA in Cyber Security with strong academic performance.</li>

                <li>Developed SmartShip – Courier Tracking System using Django and MySQL.</li>

                <li>Built FasalMitra AI – Smart Agriculture Platform.</li>

                <li>Completed Google Play Store Listing Course.</li>

                <li>Completed Data Analysis with Python Course.</li>

                <li>Experienced with Django deployment and authentication systems.</li>

            </ul>

        </div>

    </div>

</section>

{% endblock %}

