{% extends 'base.html' %}

{% block content %}

<div class="form-container">

    <form method="POST" autocomplete="off">

        {% csrf_token %}

        <h2>Admin Login</h2>

        {% if error %}

        <p style="color:red;">

            {{ error }}

        </p>

        {% endif %}

        <input type="text"
        name="username"
        placeholder="Enter Username"
        required  autocomplete="off">

        <input type="password"
        name="password"
        placeholder="Enter Password"
        required autocomplete="new-password" >

        <button type="submit">

            Login

        </button>

    </form>

</div>

{% endblock %}